.draft {
	color: red !important;
}
.draft {
	color: red !important;
}
.draft {
	color: red !important;
}
.draft {
	color: red !important;
}
.draft {
	color: red !important;
}


.start-qty-controller {
	margin-left:auto !important;
}
.finish-qty-controller {
	margin-left:auto  !important;
	margin-right:auto !important;
}
td , th{
	padding-right: 0rem !important;
}
.checkbox {
    --checkbox-right-margin: 4px !important;
}
table {
    border-collapse: separate;
    text-indent: initial;

    -webkit-border-horizontal-spacing: 0px !important;
    -webkit-border-vertical-spacing: 0px !important;
	border-spacing: 0px !important;

}